.gif-wrapper {

    columns: 4;
    column-gap: 1%;

}

.image {

    display: block;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;

}

@media only screen and (max-width: 768px) {
    
    .gif-wrapper {
        columns: 3;
    }

}

@media only screen and (max-width: 600px) {
    
    .gif-wrapper {
        columns: 1;
    }

}